table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
    margin-left: 20px;
  }
  
  table td {
    border: 1px solid rgba(3, 3, 3, 0.959);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 500px;
    color: white;
  }
  
  table tr:nth-child {background-color: rgba(3, 3, 3, 0.959);}
  
  table tr td:hover {background-color: rgb(22, 22, 22);}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(3, 3, 3, 0.959);
    color: white;
  }
  