.container {
    width: 100%;
    height: 600px;
    padding-top: 100px;
  
  }
  .itemcont {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .itms {
    font-family: "Montserrat", helvetica, arial, sans-serif;
    font-size: 14px;
    color: #cfd6e1;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
  }
  